<h2><%= @booking.meal.name %></h2>
<p><%= @booking.meal.description %></h2>
<p><%= @booking.meal.rating %></h2>
<p><%= @booking.meal.price %></h2>
<p><%= @booking.meal.day %></h2>
<p><%= @booking.user.email %>

<%= link_to  "Back", root_path %>