<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),  url(https://source.unsplash.com/daily?canteen);">
  <div class="container">
    <h1>NutzCanteen<strong>!</h1>
    <p>bestellen und genießen.</p>
    <a class="btn btn-flat" href="#">Jetzt starten</a>
  </div>
</div>

<br>
<br>

<div class="cards">
  
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
         <strong>Montag</strong><br>
        <div class="card-trip">
       
        <% @meals.each do |meal| %>        
          <%= link_to meal.name, meal_path(meal) if meal.day == "Montag" %>
          <%= meal.date %>
        <% end %>
    
        </div>
    </div>
  

    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <strong>Dienstag</strong>
        <% @meals.each do |meal| %>        
          <%= link_to meal.name, meal_path(meal) if meal.day == "Dienstag" %>
        <% end %>
    </div>

    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <strong>Mittwoch</strong>
        <% @meals.each do |meal| %>        
          <%= link_to meal.name, meal_path(meal) if meal.day == "Mittwoch" %>
        <% end %>
    </div>

    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <strong>Donnerstag</strong>
        <% @meals.each do |meal| %>        
          <%= link_to meal.name, meal_path(meal) if meal.day == "Donnerstag" %>
        <% end %>
    </div>

    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <strong>Freitag</strong>
        <% @meals.each do |meal| %>        
          <%= link_to meal.name, meal_path(meal) if meal.day == "Freitag" %>
        <% end %>
    </div>

</div>

