<h1 style="text-align:center">My Bookings</h1>

<% if policy(@bookings).index? %>
<div class="main-container" id="index-bookings">
    <div class="main-container" id="cards-container">
        <div class="cards">
            <% @bookings.each do |booking|%>
                <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random?meal);">
                    <h4><%= booking.meal.name %></h4>
                    <h5><%= booking.meal.day %> <%= booking.meal.date %></h5>
                    <h5><%= booking.user.email %></h5>
                    <p><%= link_to  "Delete", booking_path(booking.id),data: {confirm: 'Are you suer?'}, method: :delete, remote: true, class: "btn-primary" %></p>
                </div>
            <% end %>
        </div>
    </div>
</div>

<% end %>
